<!-- Firstly we were having normal boilerplate html code  -->
<!-- ,now use templating  -->

<% layout("/layout/boilerplate.ejs") %>



<body>
    <h3>All Listings</h3>

<!-- NO NEED FOR BUTTON AS I MADE REDIRECTING FROM NAVBAR FUNCTIONALITY      -->
<!-- <form method ="GET "action="/listings/new">
    <button>Create New Listing</button>
</form> -->

<!-- //PASTED CARD INSIDE A LOOP -->
 
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">  <!--Written by me claases from bootstrap-->
  <% for (let listing of allListings){%>
<a href="/listings/<%=  listing._id%>" class="listing_link">
    <div class="card col listing-card ">
        <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem;"  >
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br>
            <% if (listing.price) { %>
              &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
            <% } else { %>
              <%=listing.price =0 %> 
            <% } %>
          </p>
        </div>
    </div>   
</a>
    <%}%>  
</div>
</body>

